<footer class="bg-[#292a40] min-h-[100px] p-[15px] mt-[40px] text-[#f6f4f0] flex flex-col items-center">
  <p class="font-black text-center text-[30px]"><%= link_to "Le Versus", root_path %></p>
  <div class="flex flex-row items-center justify-around max-w-[500px] w-full flex-wrap my-[10px]">
    <p class="my-[8px]"><%= link_to "À propos",  about_path %></p>
    <p class="my-[8px]"><%= link_to "Contact",  contact_path %></p>
    <p class="my-[8px]"><%= link_to "Soutenez-nous !",  support_path %></p>
    <p class="my-[8px]"><%= link_to "CGU - Mention Légale",  legal_path %></p>
  </div>
  <div class="mt-[5px] mb-[10px]">
    <%= render partial: "layouts/social_medias" %>
  </div>
  <!--- Add donation button --->
  <p class="text-[#ccc] mt-[10px]">Copyright © <%= DateTime.current.year %> Le Versus</p>
</footer>
